<template name="inout">
    <div class="row">
        <div class="col-sm-12">
        {{#if accountsLoading}}
            Laden...
        {{else}}
                <div class="list-group">
                {{#each accounts}}
                    <span data-id="{{_id}}" class="list-group-item select-account {{accountActive}}">{{name}}</span>
                {{/each}}
                </div>
        {{/if}}
        </div>
    </div>
    {{#with selectedTX}}
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-euro"></span>
                <input id="txamount" type="number" step="0.01" lang="en" class="form-control" autofocus value="{{amount}}" placeholder="Betrag"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input id="txdescription" type="text" class="form-control" value="{{description}}" placeholder="Beschreibung"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                <input id="txdate" type="text" class="form-control" placeholder="Datum"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-default btn-block btn-cancel">Abbrechen</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-{{btnStyle}} btn-block btn-save">{{type}} Speichern</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{#if tagsLoading}}
                Laden...
            {{else}}
                <div class="list-group">
                    {{#each tags}}
                        <span data-id="{{_id}}" class="list-group-item select-tag {{tagActive ..}}">{{name}}</span>
                    {{/each}}
                </div>

                <div class="input-group newTag">
                    <input class="form-control" type="text" id="newTag" placeholder="Neue Kategorie anlegen" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-add-tag" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                      </span>
                </div>
            {{/if}}
        </div>
    </div>
    {{/with}}
</template>