<template name="inout">
    <div class="row">
        <div class="col-sm-12">
        {{#if accountsLoading}}
            Laden...
        {{else}}
                <div class="list-group">
                {{#each accounts}}
                    <span data-id="{{_id}}" class="list-group-item select-account {{accountActive}}">{{name}}</span>
                {{/each}}
                </div>
        {{/if}}
        </div>
    </div>
    {{#with selectedTX}}
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">€</span>
                <input id="txamount" type="text" class="form-control" value="{{amount}}" placeholder="Betrag"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-pencil"></span>
                <input id="txdescription" type="text" class="form-control" value="{{description}}" placeholder="Beschreibung"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-{{btnStyle}} btn-block btn-save">{{type}} Speichern</button>
        </div>
    </div>
    {{/with}}
</template>