<head>
    <title>scymoney</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>

<body></body>

<template name="layout">
    <div class="container-fluid">
        {{#if currentUser}}
            <div class="row header">
                <div class="col-sm-12 col-md-12">
                    <span class="home">// SCYMONEY</span>
                    <div class="pull-right tools">
                        <i class="glyphicon glyphicon-stats btn-stats"></i>
                        <i class="glyphicon glyphicon-piggy-bank btn-accounts"></i>
                    </div>
                </div>
            </div>
        {{/if}}
        {{> yield}}
    </div>
</template>